<form action="/home/search" method="POST">
    <text>제목</text><br>
    <input type="text" name="title"><br>
    <input type="submit" value="검색(Search Post)">
</form>
<a href="index"><button>돌아가기</button></a>