<h1>새로운 메모를 만드는 페이지</h1>

<form action="/create" method="POST">
    <text>제목</text><br>
    <input type="text" name="title"><br>
    <text>내용</text><br>
    <textarea name="content"></textarea>
    <input type="submit" value="저장(Create Post)">
</form>

<a href="index"><button>돌아가기</button></a>