<div class="container">
    <div class="row center">
<h1>새로운 메모를 만드는 페이지</h1>
    </div>
    <div class="row">
<form action="/create" method="POST">
    <text><h3>제목</h3></text><br>
    <input class="form-control" type="text" name="title"><br>
    <text><h3>내용</h3></text><br>
    <textarea class="form-control" rows="10" name="content"></textarea>
    <input class="btn btn-info" type="submit" value="저장(Create Post)">
</form>
    </div>
    <div class="row">
<a href="index"><button class="btn btn-warning">돌아가기</button></a>
    </div>
</div>