<div style="height:100%">
<div class="container" style="vertical-align:middle">
    <div class="row" style="margin-top:200px">
        <div class="col-md-6 col-md-offset-3">
        <form action="/user/certificate" method="POST">
            <input type="password" class="form-control" name="password">
            <button type="submit" class="btn btn-primary" style="width:100%">나는 지우다</button>
            </form>
            <a href="/"><button class="btn btn-danger" style="width:100%">너는 지우가 아니잖아!</button></a>
        </div>
    </div>
</div>
</div>